// Google Font
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
// Universal css
* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
*:focus {
  outline: none !important;
  box-shadow: none !important;
}
// My Colors
$MandalorianBlue: #1857a4;
